*{
 background-color: black;
 

}
#navbar{
  
  height: 10%;
  display: flex;
  font-size:1.1rem;
  color:white;
  background-color: rgb(39, 33, 33);
  justify-content: space-between;
  align-items: center;
  border:2px solid black;
  
}

#navbar div{
  margin-left:2%;
}
#all-dropBox{
display: flex;
width:45%;
background-color: white;
border:1px solid black;
justify-content: space-between;
align-items: center;
}

.downBtn{
  background-color:black;
}
#carouselExampleInterval{
  margin-top:10%;
  margin-left:5%;
  display: inline-block;
  width:60%;
  height:500px;
  border:1px solid white;
  overflow: hidden;
}
#upNext{
vertical-align: top;
width:34%;
height:540px;
float:right;
margin-left:-10px;
margin-top:-510px;
display: flex;
flex-direction: column;
color:white;
justify-content: space-evenly;
}
.title-yellow{
color:rgb(245,197,24);
}

.movieBook{
  margin-bottom:10px;
  
  display: flex;

}
.movieBook img{
  width:100px;
  height: auto;
}
#inside-movie{
  margin-top:14px;
  margin-left:14px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}